# Copia questo file in ".env" e compila i valori

# Per inviare con Gmail (consigliato per test)
SMTP_SERVICE=gmail
SMTP_USER=tuoindirizzo@gmail.com
SMTP_PASS=***INSERISCI_PASSWORD_PER_APP***
FROM_NAME=Test DEM
FROM_EMAIL=tuoindirizzo@gmail.com
TO_ADDRESSES=tuo.outlook.personale@outlook.com,altra.casella@esempio.com